<div class="container">
    <h1>Items</h1>
    <h5>- {{ status }} -</h5>

    id: <input ng-model="newitem.id" />
    Name: <input id="newName" ng-model="newitem.name" />

    <button class="btn btn-default" ng-click="addItem()">Add Item</button>
    <button class="btn btn-default" ng-click="scanBarcode()">Read ID</button>
    {{ wo.CustCode }}

    <table class="table table-condensed" style="margin-top: 10px">
        <thead>
        <tr>
            <th>WO #</th>
            <th>Customer</th>
            <th>Part</th>
            <th>Status</th>
            <th>Rec'd</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <tr  ng-repeat="wo in items | orderBy:'name'">
            <td class="col-xs-1">{{ wo.WO }}</td>
            <td class="col-xs-1">{{ wo.CustCode }}: {{ wo.CustNamee }}</td>
            <td class="col-xs-1">{{ wo.PartNumber }} / {{ wo.PartName }}</td>
            <td class="col-xs-1">{{ wo.Status }}</td>
            <td class="col-xs-1">{{ wo.ReceivedDate }}</td>
            <td class="col-xs-1">{{ wo.CountReeived }} {{ wo.CountUnit }}</td>
        </tr>
        </tbody>
    </table>


</div>